.home-main-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    margin-top: 8vh;
    max-width: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    margin-bottom: 10vh;
}

.home-skillset {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
    border: 20px;
}
@media (max-width: 768px) {
    .home-main-card {
        padding: 80px;
        transform: scale(0.8, 0.8);
    }
    .home-main-skin {
        width: 700px;
    }
}
@media (max-width: 576px) {
    .home-main-card {
        padding: 50px;
        transform: scale(0.7, 0.7);
    }
    .home-main-skin {
        width: 500px;
    }
}
@media (max-width: 400px) {
    .home-main-card {
        padding: 20px;
        transform: scale(0.6, 0.6);
    }
    .home-main-skin {
        width: 400px;
    }
}
.home-main-content {
    display: flex;
    align-items: center;
}
.home-main-title {
    text-align: left;
    margin-right: 10px;
}
.home-main-text {
    text-align: left;
    width: 300px;
}
.home-main-skin {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(30%, -50%) scale(0.3, 0.3);
    transition: transform 0.5s, width 0.2s;
}
.home-main-skin:hover {
    transform: translate(30%, -50%) scale(0.35, 0.35) rotate(3deg);
}
.home-main-buttons {
    margin-top: 60px;
    display: flex;
    gap: 16px;
}

.home-icon {
    width: 60px;
    transform: scale(0.7, 0.7);
    transition: transform 0.3s;
}
.home-icon:hover {
    transform: scale(1, 1);
}

.tools-text {
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: -20px;
    transition: text-shadow 0.3s;
}
