$primary: #9a2eff !default;

$secondary: #6d6d6d !default;

@import "../../node_modules/bootstrap";

$background: #843600 !default;

.card-badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card-badges img {
  margin-right: 5px;
  max-width: 45%;
  height: auto;
  margin-bottom: 10px;
}

.primary-button {
  z-index: 999;
  transition: transform 0.3s ease;
}

.primary-button:hover {
  transform: scale(1.2);
}

.secondary-button {
  z-index: 999;
  transition: transform 0.3s ease;
}

.secondary-button:hover {
  transform: scale(1.2);
}

.btn-primary {
  z-index: 999;
  transition: transform 0.3s ease;
}

.btn-secondary {
  z-index: 999;
  transition: transform 0.3s ease;
}

.btn-secondary:hover {
  transform: scale(1.2);
}


.btn-primary:hover {
  transform: scale(1.2);
}

.page-title {
  text-align: center;
  padding: 20px;
  color: white;
  text-transform: uppercase;
}

body {
  position: relative;
  overflow: hidden;
}

.project-card {
  --bs-card-border-width: 0px;
  --bs-card-border-radius: 20px;
  transition: filter 0.6s, transform 0.3s ease;
  filter: blur(0);
}

.project-card.blurred {
  filter: blur(2px);
  transform: scale(0.9);
}


.project-card:hover {
  transform: scale(1.05);
  filter: blur(0);
}

.card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.project-card-body {
  display: flex;
  flex-direction: column;
}

.card-button {
  margin: 10px;
  align-self: center;
}

body::before {
  content: "";
  position: fixed;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 140vw;
  height: 140vh;
  z-index: -1;
  background-image: url("../../public/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: blur(10px);
}

.navbar-brand-image {
  max-height: 60px;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: auto;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.title-container {
  text-align: center;
  margin-bottom: 20px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px 100px 190px;
  height: 100vh;
  overflow: auto;

  /* Hide scrollbar for Chrome, Safari, and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge, and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


