// _custom-style.scss

// Override primary color
$primary: #a94dff !default;

// Override secondary color
$secondary: #ffac53 !default;


.custom-search-button {
  --bs-btn-color: #{$primary};
  --bs-btn-border-color: #{$primary};
  --bs-btn-hover-bg: #{$primary};
  --bs-btn-hover-border-color: #{$primary};
  --bs-btn-active-bg: #{$primary};
  --bs-btn-active-border-color: #{$primary};
}
